<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img class="logoTerreta" src="./assets/images/logoTerreta.png" alt="" />
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com/tucuenta" target="_blank"
        ><img src="./assets/images/fb.png" alt="Facebook"
      /></a>
      <a href="https://twitter.com/tucuenta" target="_blank"
        ><img src="./assets/images/tw.png" alt="Twitter"
      /></a>
      <a href="https://www.instagram.com/tucuenta" target="_blank"
        ><img src="./assets/images/ig.png" alt="Instagram"
      /></a>
    </div>
  </div>
  <div class="footer-links">
    <a href="#">Avis Legal</a>
    <a href="#">Política de Privacitat</a>
    <a href="#">Contacta</a>
    <a href="#">Programes de Ràdio</a>
    <a href="#">Alzira Ràdio</a>
    <a href="#">Ajuntament d'Alzira</a>
  </div>
  <div class="admin-logos"></div>
</footer>
