.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #9ec5de;
  color: white;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 8px;
}

.links {
  display: flex;
  gap: 60px;
  align-items: center;
  transition: 0.3s;
}

.links a {
  color: #9ec5de;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links a:hover {
  color: orange;
}

/* Ajustes para pantallas de 987px de ancho o menos */
@media (max-width: 987px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
  }

  .navbar-brand {
    text-align: center;
    width: 100%;
  }
}

/* Ajustes adicionales para pantallas de 576px de ancho o menos */
@media (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    padding: 10px;
  }

  .navbar-brand {
    text-align: center;
    width: 100%;
  }
}

/* Estilos para centrar el contenido en pantallas pequeñas */
@media (max-width: 430px) {
  .navbar, .links {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Estilos para centrar el navbar en la página */
.container {
  display: flex;
  justify-content: center;
}
