<div class="container">
  <div class="event-details">
    <div class="event-image">
      <img [src]="imagen" alt="Event Image" />
    </div>
    <div class="event-info">
      <h2>{{ nombreDelEvento }}</h2>
      <div class="info">
        <strong>Informació:</strong>
        <p>{{ informacion }}</p>
      </div>
      <div class="details">
        <div class="detail">
          <span class="label">Ubicació:</span>
          <span class="value">{{ ubicacion }}</span>
        </div>
        <div class="detail">
          <span class="label">Grup de Música:</span>
          <span class="value">{{ grupoDeMusica }}</span>
        </div>
        <div class="detail">
          <span class="label">Número de Entrades:</span>
          <span class="value">{{ numeroDeEntradas }}</span>
        </div>
        <div class="detail">
          <span class="label">Preu:</span>
          <span class="value">{{ precio }}</span>
        </div>
        <div class="detail">
          <span class="label">Data:</span>
          <span class="value">{{ fecha }}</span>
        </div>
      </div>
      <div class="map-container">
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen [src]="getGoogleMapUrl()"></iframe>
      </div>
    </div>
  </div>
</div>
