<div class="container">
  <div class="event-details">
    <div class="event-image">
      <img [src]="Imagen" alt="Event Image" />
    </div>
    <div class="event-info">
      <h2>{{ Nombre_del_Evento }}</h2>
      <div class="info">
        <strong>Informació:</strong>
        <p>{{ Informacion }}</p>
      </div>
      <div class="details">
        <div class="detail">
          <span class="label">Ubicació:</span>
          <span class="value">{{ Ubicacion }}</span>
        </div>
        <div class="detail">
          <span class="label">Grup de Música:</span>
          <span class="value">{{ Grupo_de_Musica }}</span>
        </div>
        <div class="detail">
          <span class="label">Número de Entrades:</span>
          <span class="value">{{ N_de_Entradas }}</span>
        </div>
        <div class="detail">
          <span class="label">Preu:</span>
          <span class="value">{{ Precio }}</span>
        </div>
        <div class="detail">
          <span class="label">Data:</span>
          <span class="value">{{ Fecha }}</span>
        </div>
      </div>
      <div class="map-container">
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen [src]="getGoogleMapUrl()"></iframe>
      </div>
    </div>
  </div>
</div>
