.terreta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  width: 40px; /* Ajusta el tamaño según tus necesidades */
  height: 40px; /* Ajusta el tamaño según tus necesidades */
}

.session {
  position: absolute;
  top: 10px;
  right: 20px;
}

.session a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

.session a:hover {
  color: orange;
}

/* Estilos para el formulario emergente */
.form-popup {
  position: absolute;
  top: 50px; 
  right: 20px; 
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegurarse de que esté sobre otros elementos */
}

/* Estilos para el botón de cierre */
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para el contenedor del formulario */
.form-container {
  max-width: 300px;
}

/* Estilos para los campos de entrada */
.form-container input[type=text],
.form-container input[type=password] {
  width: 100%; /* Asegurar el 100% del contenedor */
  padding: 12px;
  margin: 8px 0 20px 0;
  border: 2px solid #9ec5de;
  background: #f9f9f9;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos cuando los campos de entrada están enfocados */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #e8e8e8;
  outline: none;
}

/* Estilos para los botones */
.form-container .btn {
  background-color: #9ec5de;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Asegurar el 100% del contenedor */
  margin-bottom: 10px;
  opacity: 0.9;
}

/* Estilos para el botón de "Cancelar" */
.form-container .cancel {
  background-color: #f44336;
}

/* Estilos para los botones cuando se pasan por encima */
.form-container .btn:hover {
  opacity: 1;
}

/* Estilos para el dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border-radius: 10px; /* Añadir borde redondeado */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 300px; /* Ancho del menú */
  display: inline-block; /* Cambiado a inline-block */
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px; /* Añadir borde redondeado */
  position: relative; /* Para la posición de la 'X' */
  width: 100%; /* Ajustar el ancho */
  display: flex; /* Para que el contenido se ajuste horizontalmente */
  justify-content: space-between; /* Alinear 'X' a la derecha */
  align-items: center; /* Alinear contenido verticalmente */
}

.dropdown-menu ul li:hover {
  background-color: #e8e8e8;
}

.remove-item {
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.user-info {
  display: flex; 
  align-items: center; 
  color: white;
  gap: 10px;
}

.img-logout {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: white;
}

.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.cart-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: white;
}

.cart-dropdown {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none; /* Inicialmente oculto */
  z-index: 1000;
  width: 300px;
}

.cart-dropdown.open {
  display: block; /* Mostrar cuando está abierto */
}

.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-dropdown ul li {
  color: black; /* Texto en negro */
  padding: 10px;
  cursor: pointer;
}

.cart-dropdown ul li:hover {
  background-color: #e8e8e8;
}

.clear-cart-btn {
  width: 100%;
  background-color: #007bff; /* Cambio de color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px; /* Cambio de tamaño */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Transición suave */
}

.clear-cart-btn:hover {
  background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

.delete-option {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

/* Añadir estilos para centrar contenido en pantallas pequeñas */
@media (max-width: 430px) {
  .navbar, .terreta, .session, .form-popup, .dropdown-menu, .user-info, .cart-icon-container, .cart-dropdown, .clear-cart-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .dropdown-menu ul li {
    flex-direction: column; /* Ajustar la dirección del contenido */
  }
}
