.terreta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terreta img {
  max-width: auto;
  height: auto;
}

.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.session {
  position: absolute;
  top: 10px;
  right: 20px;
}

.session a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  text-transform: uppercase;
}

.session a:hover {
  color: orange;
}

.form-popup {
  position: absolute;
  top: 50px; 
  right: 20px; 
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.form-container {
  max-width: 300px;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 8px 0 20px 0;
  border: 2px solid #9ec5de;
  background: #f9f9f9;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #e8e8e8;
  outline: none;
}

.form-container .btn {
  background-color: #9ec5de;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.9;
}

.form-container .cancel {
  background-color: #f44336;
}

.form-container .btn:hover {
  opacity: 1;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 300px;
  display: inline-block;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu ul li:hover {
  background-color: #e8e8e8;
}

.remove-item {
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.img-logout {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: white;
}

.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.cart-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: white;
}

.cart-dropdown {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
  z-index: 1000;
  width: 300px;
}

.cart-dropdown.open {
  display: block;
}

.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-dropdown ul li {
  color: black;
  padding: 10px;
  cursor: pointer;
}

.cart-dropdown ul li:hover {
  background-color: #e8e8e8;
}

.clear-cart-btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.clear-cart-btn:hover {
  background-color: #0056b3;
}

.delete-option {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

a {
  user-select: none !important;
  cursor: pointer !important;
  text-decoration: none !important;
  transition: color 0.3s ease;
}

/* Ajustes para pantallas medianas (entre 992px y 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .terreta img {
    max-width: 500px;
    height: auto;
  }

  .session {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px; /* Espacio entre el logo y el contenido */
    text-align: center; /* Centra los enlaces */
  }

  .scroll-to-top {
    bottom: 20px;
  }

  .form-popup {
    top: 110px; /* Ajusta la posición del formulario emergente */
    right: 50%; /* Centra el formulario */
    transform: translateX(50%); /* Centra horizontalmente */
  }
}

/* Ajustes para pantallas pequeñas (entre 576px y 991px) */
@media (min-width: 576px) and (max-width: 991px) {
  .terreta img {
    max-width: 300px;
    height: auto;
  }

  .session {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px; /* Espacio entre el logo y el contenido */
    text-align: center; /* Centra los enlaces */
  }

  .scroll-to-top {
    bottom: 20px;
  }

  .form-popup {
    top: 110px; /* Ajusta la posición del formulario emergente */
    right: 50%; /* Centra el formulario */
    transform: translateX(50%); /* Centra horizontalmente */
  }
}

/* Ajustes para pantallas extra pequeñas (hasta 575px) */
@media (max-width: 575px) {
  .terreta img {
    max-width: 320px;
    height: auto;
  }

  .session {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px; /* Espacio entre el logo y el contenido */
    text-align: center; /* Centra los enlaces */
  }

  .scroll-to-top {
    bottom: 20px;
  }

  .form-popup {
    top: 110px; /* Ajusta la posición del formulario emergente */
    right: 50%; /* Centra el formulario */
    transform: translateX(50%); /* Centra horizontalmente */
  }
}

