<div class="merchan-container">
  <div class="producto" *ngFor="let producto of productos">
    <div class="imagen">
      <img [src]="'./assets/images/' + producto.id_producto + '.png'" alt="{{ producto.nombre }}">
      <div class="tipo">{{ producto.tipo }}</div>
    </div>
    <div class="detalles">
      <h2>{{ producto.nombre }}</h2>
      <p class="precio">{{ producto.precio }}&euro;</p>
      <button class="comprar-btn" (click)="addToCart(producto)">Afegir a la cistella</button>
    </div>
  </div>
</div>
