.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}

.col-md-6 {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-overlay {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  box-sizing: border-box;
}

.card-title {
  margin: 0;
  font-size: 18px;
  color: white;
  text-align: center;
}
