html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.col-md-6, .col-lg-4 {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin: 10px; /* Ajuste para mantener el espacio alrededor de las tarjetas */
}

.card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-overlay {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  box-sizing: border-box;
}

.card-title {
  margin: 0;
  font-size: 18px;
  color: white;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more-button,
.load-less-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
